.container {
  width: 85%;
  margin: 2% auto;
  margin-left: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 100px;
}

.container > * {
  padding: 0.5em;
}

@media (max-width: 400px) {
  .container {
    margin-left: 20px;
    width: 100%;
  }
}
