<div class="container">
  <div class="container__left">
    <h2>
      <span class="logo f">F</span><span class="logo u">u</span>

      <span class="logo n">n</span><span class="logo d">d</span
      ><span class="logo o">o</span><span class="logo o">o</span>
    </h2>
    <h1>Create your Fundoo Account</h1>
    <h4>Continue to Fundoo</h4>
    <form class="container__form" [formGroup]="myForm" (ngSubmit)="submit()">
      <div class="form__first-row">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput autocomplete="off" formControlName="firstName" />
            <mat-error *ngIf="firstName.invalid && firstName.touched">
              Please provide first name!
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput autocomplete="off" formControlName="lastName" />
            <mat-error *ngIf="lastName.invalid && lastName.touched">
              Please provide last name!
            </mat-error></mat-form-field
          >
        </p>
      </div>
      <div class="form__second-row">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput autocomplete="off" formControlName="email" />
            <span matSuffix>@gmail.com</span>
            <mat-hint>You can use letters, numbers & periods</mat-hint>
            <mat-error *ngIf="email.invalid && email.touched">
              Please provide proper email!
            </mat-error>
          </mat-form-field>
        </p>
      </div>
      <div class="form__first-row">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="password"
              [type]="showPassword ? 'password' : 'text'"
            />
            <mat-hint
              >Minimum 8 characters with letters, numbers & symbols</mat-hint
            >
            <mat-error *ngIf="password.invalid && password.touched">
              Please provide proper password!
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="confirmPassword"
              [type]="showPassword ? 'password' : 'text'"
            />
            <mat-error *ngIf="confirmPassword">
              Please match password and confirm password!
            </mat-error>
          </mat-form-field>
        </p>
      </div>

      <div class="container__checkbox">
        <span
          ><mat-checkbox
            class="example-margin"
            color="primary"
            formControlName="showPassword"
            >Show Password
          </mat-checkbox>
        </span>
      </div>
      <div class="container__buttons">
        <button mat-flat-button type="button">Sign in instead</button>
        <button mat-raised-button color="primary" [disabled]="!myForm.valid">
          Next
        </button>
      </div>
    </form>
  </div>
  <div class="container__right">
    <img
      src="https://ssl.gstatic.com/accounts/signup/glif/account.svg"
      alt="account-image"
    />
    <p class="tag-line">One account. All of Fundoo working for you.</p>
  </div>
</div>
<div class="footer">
  <div class="footer__left">
    <select name="" id="">
      <option value="English">English(United Kingdom)</option>
    </select>
  </div>
  <div class="footer__right">
    <button mat-flat-button type="button">Help</button>
    <button mat-flat-button type="button">Privacy</button>
    <button mat-flat-button type="button">Terms</button>
  </div>
</div>
