.remainder {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  align-items: center;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 60%;
  height: 24px;
  padding: 0px 10px;
}

mat-icon {
  height: 18px;
  font-size: 14px;
  padding-right: 2px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  height: 50%;
}
