<div *ngFor="let remainder of remainders">
  {{ calculateRemainder(remainder) }}
  <span
    *ngIf="checkValid(remainder)"
    class="remainder"
    (mouseenter)="isTimeFocused = true"
    (mouseleave)="isTimeFocused = false"
  >
    <mat-icon *ngIf="!remainderObject.isExpired">alarm</mat-icon>
    <span class="time">
      <span
        [style.text-decoration-line]="
          remainderObject.isExpired ? 'line-through' : 'none'
        "
      >
        {{
          isTimeFocused ? remainderObject.remainingTime : remainderObject.data
        }}
      </span>
    </span>
    <button
      *ngIf="isTimeFocused || remainderObject.isExpired"
      (click)="removeRemainder()"
      type="button"
    >
      <mat-icon>close</mat-icon>
    </button>
  </span>
</div>

<div class="collaborator" *ngFor="let collaborator of note">
  <div class="container__image">
    <button mat-icon-button class="collaborator-btn">
      {{
        (collaborator.firstName | slice: 0:1 | uppercase) +
          "" +
          (collaborator.lastName | slice: 0:1 | uppercase)
      }}
    </button>
  </div>
</div>
