.remainder {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  align-items: center;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 150px;
  height: 24px;
  padding: 0px 10px;
}

mat-icon {
  height: 18px;
  font-size: 14px;
  padding: 0%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  padding: 0;
  height: 50%;
}

.collaborator {
  display: inline-block;
  margin: 1%;
}

.collaborator-btn {
  background-color: white;
  box-shadow: 0px 0px 5px 1px gainsboro;
}
