<span>{{ note.description }}</span>
<div *ngFor="let remainder of note.reminder">
  {{ calculateRemainder(remainder) }}
  <span
    class="remainder"
    (mouseenter)="isTimeFocused = true"
    (mouseleave)="isTimeFocused = false"
  >
    <mat-icon *ngIf="!remainderObject.isExpired">alarm</mat-icon>
    <span class="time">
      <span
        [style.text-decoration-line]="
          remainderObject.isExpired ? 'line-through' : 'none'
        "
      >
        {{
          isTimeFocused ? remainderObject.remainingTime : remainderObject.data
        }}
      </span>
    </span>
    <button
      *ngIf="isTimeFocused || remainderObject.isExpired"
      (click)="removeRemainder()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </span>
</div>
