<button mat-icon-button type="button" [matMenuTriggerFor]="menu">
  <mat-icon>
    <img
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMTIgMjJDNi40OSAyMiAyIDE3LjUxIDIgMTJTNi40OSAyIDEyIDJzMTAgNC4wNCAxMCA5YzAgMy4zMS0yLjY5IDYtNiA2aC0xLjc3Yy0uMjggMC0uNS4yMi0uNS41IDAgLjEyLjA1LjIzLjEzLjMzLjQxLjQ3LjY0IDEuMDYuNjQgMS42N0EyLjUgMi41IDAgMCAxIDEyIDIyem0wLTE4Yy00LjQxIDAtOCAzLjU5LTggOHMzLjU5IDggOCA4Yy4yOCAwIC41LS4yMi41LS41YS41NC41NCAwIDAgMC0uMTQtLjM1Yy0uNDEtLjQ2LS42My0xLjA1LS42My0xLjY1YTIuNSAyLjUgMCAwIDEgMi41LTIuNUgxNmMyLjIxIDAgNC0xLjc5IDQtNCAwLTMuODYtMy41OS03LTgtN3oiLz48Y2lyY2xlIGN4PSI2LjUiIGN5PSIxMS41IiByPSIxLjUiLz4KICA8Y2lyY2xlIGN4PSI5LjUiIGN5PSI3LjUiIHI9IjEuNSIvPjxjaXJjbGUgY3g9IjE0LjUiIGN5PSI3LjUiIHI9IjEuNSIvPjxjaXJjbGUgY3g9IjE3LjUiIGN5PSIxMS41IiByPSIxLjUiLz4KPC9zdmc+Cg=="
      alt="paint"
    />
  </mat-icon>
</button>
<mat-menu #menu="matMenu" yPosition="above">
  <div class="menu__row">
    <span
      mat-menu-item
      class="color-one color"
      (click)="getColor('#ffffff')"
    ></span>
    <span
      mat-menu-item
      class="color-two color"
      (click)="getColor('#F28B82')"
    ></span>
    <span
      mat-menu-item
      class="color-three color"
      (click)="getColor('#FBBC04')"
    ></span>
    <span
      mat-menu-item
      class="color-four color"
      (click)="getColor('#FFF475')"
    ></span>
  </div>
  <div class="menu__row">
    <span
      mat-menu-item
      class="color-five color"
      (click)="getColor('#CCFF90')"
    ></span>
    <span
      mat-menu-item
      class="color-six color"
      (click)="getColor('#A7FFEB')"
    ></span>
    <span
      mat-menu-item
      class="color-seven color"
      (click)="getColor('#CBF0F8')"
    ></span>
    <span
      mat-menu-item
      class="color-eight color"
      (click)="getColor('#AECBFA')"
    ></span>
  </div>
  <div class="menu__row">
    <span
      mat-menu-item
      class="color-nine color"
      (click)="getColor('#D7AEFB')"
    ></span>
    <span
      mat-menu-item
      class="color-ten color"
      (click)="getColor('#FDCFE8')"
    ></span>
    <span
      mat-menu-item
      class="color-eleven color"
      (click)="getColor('#E6C9A8')"
    ></span>
    <span
      mat-menu-item
      class="color-twelve color"
      (click)="getColor('#E8EAED')"
    ></span>
  </div>
</mat-menu>
