<div (mouseenter)="isFocused = true" (mouseleave)="isFocused = false">
  <mat-card
    [ngStyle]="isGridView ? styles : { width: '225px ' }"
    [style.background-color]="note.color"
  >
    <mat-card-title>
      <span>
        {{ note.title }}
      </span>
      <app-pin-component
        (click)="togglePin()"
        [isPined]="note.isPined"
      ></app-pin-component>
    </mat-card-title>
    <mat-card-content>
      <span>{{ note.description }}</span>
      <app-add-note-body
        [remainders]="note.reminder"
        (removeRemainderEvent)="removeRemainder()"
      ></app-add-note-body>
      <app-labels
        [labels]="labels.label"
        [noteLabels]="note.noteLabels"
      ></app-labels>
    </mat-card-content>
    <mat-card-actions [style.opacity]="!isFocused ? '0' : '1'">
      <ng-container *ngIf="!note.isDeleted; else deleteBlock">
        <app-remainder-icon-component
          (dateEvent)="changeDate($event)"
        ></app-remainder-icon-component>
        <app-add-collaborator-component></app-add-collaborator-component>
        <app-paint-component
          (colorChanged)="changeColor($event)"
        ></app-paint-component>
        <app-picture-component></app-picture-component>
        <app-archieve-component
          (click)="toggleArchive()"
          [isArchived]="note.isArchived"
        >
        </app-archieve-component>
      </ng-container>
      <ng-template #deleteBlock>
        <app-trash-component
          (click)="deletePermanently()"
        ></app-trash-component>
        <app-recover-component (click)="recover()"></app-recover-component>
      </ng-template>
      <app-more-component
        [noteLabels]="note.noteLabels"
        [labels]="labels"
        (addNoteToLabelEvent)="addLabelToNote($event)"
        (addLabelEvent)="addLabel($event)"
        (deleteEvent)="delete()"
      ></app-more-component>
    </mat-card-actions>
  </mat-card>
</div>
