<div (mouseenter)="isFocused = true" (mouseleave)="isFocused = false">
  <mat-card [style.background-color]="note.color">
    <mat-card-title>
      <span>
        {{ note.title }}
      </span>
      <app-pin-component
        (click)="togglePin()"
        [isPined]="note.isPined"
      ></app-pin-component>
    </mat-card-title>
    <mat-card-content>
      {{ note.description }}
    </mat-card-content>
    <mat-card-actions [style.opacity]="!isFocused ? '0' : '1'">
      <app-remainder-icon-component></app-remainder-icon-component>
      <app-add-collaborator-component></app-add-collaborator-component>
      <app-paint-component
        [noteId]="note.id"
        (colorChanged)="changeColor($event)"
      ></app-paint-component>
      <app-picture-component></app-picture-component>
      <app-archieve-component></app-archieve-component>
      <app-more-component [noteId]="note.id"></app-more-component>
    </mat-card-actions>
  </mat-card>
</div>
