<div
  (mouseenter)="isFocused = true"
  (mouseleave)="isFocused = false"
  [ngStyle]="isDialog || isGridView ? { width: '70vw' } : ''"
>
  <mat-card
    [ngStyle]="isDialog || isGridView ? { width: '70vw !important' } : ''"
    [style.background-color]="note.color"
  >
    <mat-card-title *ngIf="!isDialog; else dialogTemplate">
      <span (click)="updateDialog()">
        {{ note.title }}
      </span>
      <app-pin-component
        (click)="togglePin()"
        [isPined]="note.isPined"
      ></app-pin-component>
    </mat-card-title>
    <ng-template #dialogTemplate>
      <mat-card-title>
        <input type="text" matInput [(ngModel)]="noteTitle" />
        <app-pin-component
          (click)="togglePin()"
          [isPined]="note.isPined"
        ></app-pin-component>
      </mat-card-title>
    </ng-template>

    <mat-card-content>
      <span *ngIf="!isDialog; else dialogInput" (click)="updateDialog()">{{
        note.description
      }}</span>
      <ng-template #dialogInput>
        <input type="text" matInput [(ngModel)]="noteDescription" />
      </ng-template>
      <app-add-note-body
        [note]="note.collaborators"
        [remainders]="note.reminder"
        (removeRemainderEvent)="removeRemainder()"
      ></app-add-note-body>
      <app-labels
        [noteLabels]="note.noteLabels"
        (labelRemoveEvent)="removeLabel($event)"
      ></app-labels>
    </mat-card-content>
    <mat-card-actions
      [style.opacity]="!isFocused ? '0' : '1'"
      [ngStyle]="isDialog ? matActionStyle : ''"
    >
      <div *ngIf="!note.isDeleted; else deleteBlock">
        <app-remainder-icon-component
          (dateEvent)="changeDate($event)"
        ></app-remainder-icon-component>
        <app-add-collaborator-component
          (click)="openDialog()"
        ></app-add-collaborator-component>
        <app-paint-component
          (colorChanged)="changeColor($event)"
        ></app-paint-component>
        <app-picture-component></app-picture-component>
        <app-archieve-component
          (click)="toggleArchive()"
          [isArchived]="note.isArchived"
        >
        </app-archieve-component>
        <app-more-component
          [noteLabels]="note.noteLabels"
          [labels]="labels"
          (addNoteToLabelEvent)="addLabelToNote($event)"
          (addLabelEvent)="addLabel($event)"
          (deleteEvent)="delete()"
        ></app-more-component>
      </div>
      <div *ngIf="isDialog">
        <app-close-component
          mat-dialog-close
          (click)="close()"
        ></app-close-component>
      </div>
      <ng-template #deleteBlock>
        <app-trash-component
          (click)="deletePermanently()"
        ></app-trash-component>
        <app-recover-component (click)="recover()"></app-recover-component>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
