mat-card {
  width: 225px !important;
  border-radius: 10px !important;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
  font-size: 1rem;
}

app-pin-component {
  align-self: flex-start;
}

mat-card-content {
  word-break: break-all;
  font-size: 1.2rem;
  font-weight: 400;
}

mat-card {
  box-shadow: none !important;
  border: 1px solid gainsboro;
  min-width: 100px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

/deep/ .mat-card-actions > {
  width: 24px;
  height: 24px;
}

div {
  transition: all ease 0.4s;
}

div:hover {
  box-shadow: 0px 0px 5px 2px gainsboro;
  border-radius: 10px !important;
}
