<div class="container">
  <h2>
    <span class="logo f">F</span><span class="logo u">u</span>

    <span class="logo n">n</span><span class="logo d">d</span
    ><span class="logo o">o</span><span class="logo o">o</span>
  </h2>
  <h1>Sign in</h1>
  <h4>to Continue to Fundoo</h4>
  <form>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput autocomplete="off" [(ngModel)]="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      {{ email }}
    </p>
    <a href="https://www.google.com/" target="_blank">Forgot Password?</a>
    <div class="last-row">
      <button mat-flat-button>Create account</button>
      <button mat-flat-button color="primary">Submit</button>
    </div>
  </form>
</div>
<div class="footer">
  <div class="footer__left">
    <select name="" id="">
      <option value="English">English(United Kingdom)</option>
    </select>
  </div>
  <div class="footer__right">
    <button mat-flat-button>Help</button>
    <button mat-flat-button>Privacy</button>
    <button mat-flat-button>Terms</button>
  </div>
</div>
