<div class="container">
  <mat-card>
    <mat-card-title>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        placeholder="Title"
        class="title"
      ></textarea>
      <app-pin-component></app-pin-component>
    </mat-card-title>
    <mat-card-content>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        placeholder="Take a note..."
      ></textarea>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions__left">
        <app-remainder-icon-component></app-remainder-icon-component>
        <app-add-collaborator-component></app-add-collaborator-component>
        <app-paint-component></app-paint-component>
        <app-picture-component></app-picture-component>
        <app-archieve-component></app-archieve-component>
        <app-more-component></app-more-component>
        <app-undo-component></app-undo-component>
        <app-redo-component></app-redo-component>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
