<form
  class="container"
  [formGroup]="noteForm"
  id="add-note-form"
  (ngSubmit)="submit()"
>
  <mat-card [ngStyle]="colorStyle">
    <mat-card-title>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        placeholder="Title"
        class="title"
        formControlName="title"
        [ngStyle]="colorStyle"
      ></textarea>
      <app-pin-component
        (click)="togglePin()"
        [isPined]="isPined"
      ></app-pin-component>
    </mat-card-title>
    <mat-card-content>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        placeholder="Take a note..."
        formControlName="description"
        name="description"
        [ngStyle]="colorStyle"
        ([ngModel])="(description)"
      ></textarea>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions__left">
        <app-remainder-icon-component
          (dateEvent)="getRemainder($event)"
        ></app-remainder-icon-component>
        <app-add-collaborator-component></app-add-collaborator-component>
        <app-paint-component
          (colorChanged)="changeColor($event)"
        ></app-paint-component>
        <app-picture-component></app-picture-component>
        <app-archieve-component
          (click)="toggleArchieve()"
          [isArchived]="isArchieved"
        ></app-archieve-component>
        <app-more-component></app-more-component>
        <app-undo-component (click)="undoAction()"></app-undo-component>
        <app-redo-component></app-redo-component>
      </div>
      <div class="actions-right">
        <app-close-component (click)="close()"></app-close-component>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
